/*Importando CSS */

@import url(./login.css);
@import url(./home.css);


/* Declaração de Variáveis Raiz */

:root {

    --cor-primaria: #E0E0E0;
    --cor-secundaria: #222222;
    --degrade-preto: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    --degrade-vermelho: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --degrade-preto-azulado: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    --degrade-cinza: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
    --cor-branca: #FFFFFF;
    --cor-amarela: #E9B425;
    --cor-vermelha: #C12D18;
    --cor-de-texto-vermelha: #C13216;; 
    --fonte-nunito: 'Nunito', sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;

}

/* Propriedades gerais do Body */


body {

    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 16px;

}
